@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{ /*remover depois apenas para vizualizar*/
    border: solid 1px;
}

li, a, button ul{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    padding: 30px 10%;
}

header .logo{
    cursor: pointer;
    display: flex;
}

.nav-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list {
    display: inline-block;
}

